templates/invoice-duplicate-detector/workflow.json
{
  "name": "Invoice Duplicate Detector",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-invoice-duplicate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000001",
      "name": "Webhook - Sprawdz fakture",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "check-invoice-duplicate"
    },
    {
      "parameters": {
        "functionCode": "// Wyodrebnij dane faktury do sprawdzenia\nconst invoice = items[0].json.body || items[0].json;\n\nconst nip = invoice.nip || invoice.nipSprzedawcy || '';\nconst kwota = parseFloat(invoice.kwotaBrutto || invoice.amount || 0);\nconst dataFaktury = invoice.dataFaktury || invoice.invoiceDate || '';\nconst nrFaktury = invoice.nrFaktury || invoice.invoiceNumber || '';\nconst nipNabywcy = invoice.nipNabywcy || invoice.buyerNip || '';\n\nif (!nip || !kwota || !dataFaktury) {\n  throw new Error('Brakujace dane: wymagane pola to nip, kwotaBrutto, dataFaktury');\n}\n\n// Normalizuj NIP (usun myslniki i spacje)\nconst normalizedNip = nip.replace(/[\\s-]/g, '');\n\n// Oblicz zakres dat do sprawdzenia (+/- 5 dni)\nconst date = new Date(dataFaktury);\nconst dateFrom = new Date(date);\ndateFrom.setDate(date.getDate() - 5);\nconst dateTo = new Date(date);\ndateTo.setDate(date.getDate() + 5);\n\nreturn [{\n  json: {\n    nip: normalizedNip,\n    nipNabywcy: nipNabywcy.replace(/[\\s-]/g, ''),\n    kwotaBrutto: kwota,\n    dataFaktury: dataFaktury,\n    nrFaktury: nrFaktury,\n    dateFrom: dateFrom.toISOString().split('T')[0],\n    dateTo: dateTo.toISOString().split('T')[0],\n    kwotaMin: (kwota * 0.99).toFixed(2),\n    kwotaMax: (kwota * 1.01).toFixed(2),\n    checkTimestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000002",
      "name": "Przygotuj dane do sprawdzenia",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  nip_sprzedawcy,\n  nip_nabywcy,\n  nr_faktury,\n  data_faktury,\n  kwota_brutto,\n  data_wprowadzenia\nFROM faktury\nWHERE nip_sprzedawcy = '{{ $json.nip }}'\n  AND kwota_brutto BETWEEN {{ $json.kwotaMin }} AND {{ $json.kwotaMax }}\n  AND data_faktury BETWEEN '{{ $json.dateFrom }}' AND '{{ $json.dateTo }}'\nORDER BY data_faktury DESC\nLIMIT 20;",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000003",
      "name": "SQL - Szukaj duplikatow po NIP i kwocie",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [720, 200],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIALS_ID",
          "name": "Baza faktur PostgreSQL - UZUPELNIJ"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  id,\n  nip_sprzedawcy,\n  nip_nabywcy,\n  nr_faktury,\n  data_faktury,\n  kwota_brutto,\n  data_wprowadzenia\nFROM faktury\nWHERE nr_faktury = '{{ $('Przygotuj dane do sprawdzenia').item.json.nrFaktury }}'\n  AND nip_sprzedawcy = '{{ $('Przygotuj dane do sprawdzenia').item.json.nip }}'\nLIMIT 5;",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000004",
      "name": "SQL - Szukaj po numerze faktury",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [720, 420],
      "credentials": {
        "postgres": {
          "id": "TODO_POSTGRES_CREDENTIALS_ID",
          "name": "Baza faktur PostgreSQL - UZUPELNIJ"
        }
      }
    },
    {
      "parameters": {
        "mode": "mergeByIndex",
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000005",
      "name": "Polacz wyniki",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [960, 300]
    },
    {
      "parameters": {
        "functionCode": "// Analiza duplikatow\nconst original = $('Przygotuj dane do sprawdzenia').item.json;\nconst byNipAmount = $('SQL - Szukaj duplikatow po NIP i kwocie').all();\nconst byInvoiceNumber = $('SQL - Szukaj po numerze faktury').all();\n\nconst duplicates = [];\nlet duplicateScore = 0;\nlet isDuplicate = false;\n\n// Sprawdz dokładne dopasowanie numeru faktury\nconst exactMatch = byInvoiceNumber.find(item => \n  item.json.nr_faktury === original.nrFaktury && \n  item.json.nip_sprzedawcy === original.nip\n);\n\nif (exactMatch) {\n  duplicateScore += 100;\n  duplicates.push({\n    type: 'DOKLADNY_NUMER',\n    id: exactMatch.json.id,\n    nrFaktury: exactMatch.json.nr_faktury,\n    kwota: exactMatch.json.kwota_brutto,\n    data: exactMatch.json.data_faktury,\n    pewnosc: '100%'\n  });\n}\n\n// Sprawdz dopasowanie po NIP + kwocie + zblizonej dacie\nfor (const item of byNipAmount) {\n  if (exactMatch && item.json.id === exactMatch.json.id) continue;\n  \n  const kwotaRoznica = Math.abs(item.json.kwota_brutto - original.kwotaBrutto);\n  const dataRoznica = Math.abs(\n    new Date(item.json.data_faktury) - new Date(original.dataFaktury)\n  ) / (1000 * 60 * 60 * 24);\n  \n  let score = 0;\n  if (kwotaRoznica === 0) score += 40;\n  else if (kwotaRoznica < 0.01) score += 30;\n  else score += 15;\n  \n  if (dataRoznica === 0) score += 30;\n  else if (dataRoznica <= 1) score += 20;\n  else if (dataRoznica <= 3) score += 10;\n  \n  if (item.json.nip_nabywcy === original.nipNabywcy) score += 20;\n  \n  if (score >= 50) {\n    duplicateScore = Math.max(duplicateScore, score);\n    duplicates.push({\n      type: 'PODOBNA_FAKTURA',\n      id: item.json.id,\n      nrFaktury: item.json.nr_faktury,\n      kwota: item.json.kwota_brutto,\n      data: item.json.data_faktury,\n      pewnosc: score + '%'\n    });\n  }\n}\n\nisDuplicate = duplicateScore >= 70;\n\nreturn [{\n  json: {\n    sprawdzanaFaktura: {\n      nrFaktury: original.nrFaktury,\n      nip: original.nip,\n      kwotaBrutto: original.kwotaBrutto,\n      dataFaktury: original.dataFaktury\n    },\n    isDuplicate: isDuplicate,\n    duplicateScore: duplicateScore,\n    riskLevel: duplicateScore >= 90 ? 'WYSOKI' : duplicateScore >= 70 ? 'SREDNI' : duplicateScore >= 50 ? 'NISKI' : 'BRAK',\n    duplicatesFound: duplicates.length,\n    duplicates: duplicates,\n    message: isDuplicate \n      ? `UWAGA: Wykryto ${duplicates.length} potencjalny(ch) duplikat(ow). Poziom pewnosci: ${duplicateScore}%`\n      : 'Nie wykryto duplikatow.',\n    checkTimestamp: original.checkTimestamp\n  }\n}];"
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000006",
      "name": "Analiza duplikatow",
      "type": "n8n-nodes-base.functionItem",
      "typeVersion": 1,
      "position": [1200, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000007",
      "name": "Czy duplikat?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1440, 300]
    },
    {
      "parameters": {
        "channel": "#ksiegowosc-alerty",
        "text": ":warning: *Wykryto potencjalny duplikat faktury!*\n\n*Sprawdzana faktura:*\n• Nr: {{ $json.sprawdzanaFaktura.nrFaktury }}\n• NIP sprzedawcy: {{ $json.sprawdzanaFaktura.nip }}\n• Kwota brutto: {{ $json.sprawdzanaFaktura.kwotaBrutto }} PLN\n• Data: {{ $json.sprawdzanaFaktura.dataFaktury }}\n\n*Wynik:*\n• Poziom ryzyka: {{ $json.riskLevel }}\n• Pewnosc: {{ $json.duplicateScore }}%\n• Znalezione duplikaty: {{ $json.duplicatesFound }}\n\nProsze zweryfikowac fakture przed zatwierdzeniem.",
        "otherOptions": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000008",
      "name": "Slack - Alert duplikat",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [1680, 200],
      "credentials": {
        "slackApi": {
          "id": "TODO_SLACK_CREDENTIALS_ID",
          "name": "Slack API - UZUPELNIJ"
        }
      }
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "DUPLIKAT_WYKRYTY"
            },
            {
              "name": "riskLevel",
              "value": "={{ $json.riskLevel }}"
            },
            {
              "name": "duplicateScore",
              "value": "={{ $json.duplicateScore }}"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000009",
      "name": "Odpowiedz - Duplikat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1920, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "OK"
            },
            {
              "name": "message",
              "value": "={{ $json.message }}"
            },
            {
              "name": "riskLevel",
              "value": "BRAK"
            }
          ]
        },
        "options": {}
      },
      "id": "c1b2c3d4-0003-4000-8000-000000000010",
      "name": "Odpowiedz - Brak duplikatu",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1680, 420]
    }
  ],
  "connections": {
    "Webhook - Sprawdz fakture": {
      "main": [
        [
          {
            "node": "Przygotuj dane do sprawdzenia",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj dane do sprawdzenia": {
      "main": [
        [
          {
            "node": "SQL - Szukaj duplikatow po NIP i kwocie",
            "type": "main",
            "index": 0
          },
          {
            "node": "SQL - Szukaj po numerze faktury",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL - Szukaj duplikatow po NIP i kwocie": {
      "main": [
        [
          {
            "node": "Polacz wyniki",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SQL - Szukaj po numerze faktury": {
      "main": [
        [
          {
            "node": "Polacz wyniki",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Polacz wyniki": {
      "main": [
        [
          {
            "node": "Analiza duplikatow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analiza duplikatow": {
      "main": [
        [
          {
            "node": "Czy duplikat?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Czy duplikat?": {
      "main": [
        [
          {
            "node": "Slack - Alert duplikat",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odpowiedz - Brak duplikatu",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack - Alert duplikat": {
      "main": [
        [
          {
            "node": "Odpowiedz - Duplikat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": null,
  "tags": [
    {
      "name": "Faktury",
      "id": "tag-faktury"
    },
    {
      "name": "Duplikaty",
      "id": "tag-duplikaty"
    },
    {
      "name": "AutomateForge",
      "id": "tag-automateforge"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-01-15T10:00:00.000Z",
  "versionId": "1"
}